<a href="https://colab.research.google.com/github/aruna20200/aruna_akula/blob/master/NavieBayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import numpy as np
import pandas as pd 
from sklearn.naive_bayes import GaussianNB

In [30]:
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
from sklearn.model_selection import cross_val_score, train_test_split

In [12]:
data = pd.read_csv("https://raw.githubusercontent.com/dhirajk100/Naive-Bayes/master/Naive-Bayes-Classification-Data.csv")

In [13]:
data.head()

   glucose  bloodpressure  diabetes
0       40             85         0
1       40             92         0
2       45             63         1
3       45             80         0
4       40             73         1

In [26]:
data.shape

(995, 3)

In [27]:
data.info

<bound method DataFrame.info of      glucose  bloodpressure  diabetes
0         40             85         0
1         40             92         0
2         45             63         1
3         45             80         0
4         40             73         1
..       ...            ...       ...
990       45             87         0
991       40             83         0
992       40             83         0
993       40             60         1
994       45             82         0

[995 rows x 3 columns]>

In [28]:
x = data.drop('diabetes', axis = 1)
y = data['diabetes']
train,test,y_train,y_test = train_test_split(x,y,test_size = 0.25,random_state = 6543)

In [18]:
def model_fit(alg,train,test,y_train,y_test,if_cv = True,cv_folds = 5):
    alg.fit(train,y_train)
    
    #performing Cross Validation
    if if_cv: 
        cv_score = cross_val_score(alg,train,y_train,cv = cv_folds,scoring = 'f1_macro')
    
    predictions = alg.predict(test)
    
    #Print 
    print("\n Model Report")
    print(classification_report(y_test,predictions))
    
    if if_cv: 
        print("CV REPORT :- Mean - %.7g | Std - %.7g | Min - %.7g | Max - %.7g"%(np.mean(cv_score),np.std(cv_score),np.min(cv_score),np.max(cv_score)))
    
    print('-'*100)
    print(confusion_matrix(y_test,predictions))

In [37]:
model = GaussianNB()
model_fit(model,train,test,y_train,y_test)

 Model Report
              precision    recall  f1-score   support

           0       0.95      0.93      0.94       130
           1       0.93      0.95      0.94       119

    accuracy                           0.94       249
   macro avg       0.94      0.94      0.94       249
weighted avg       0.94      0.94      0.94       249

CV REPORT :- Mean - 0.9315577 | Std - 0.0274001 | Min - 0.8991654 | Max - 0.9599929
----------------------------------------------------------------------------------------------------
[[121   9]
 [  6 113]]

In [ ]:
model.fit()